<div class="dashboard">
    <h1 class="dashboard-title">Carrito</h1>

<div class="back-home">
    <a href="/" class="btn-back-home">Volver al Home</a>
</div>

    <div class="product-grid">
        {{#each cartProducts}}
        <div class="product-card">
            <div class="product-image-container">
                <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}">
            </div>
            <h2 class="product-title">{{this.product.title}}</h2>
            <h3 class="product-price">Precio: {{this.product.price}}</h3>
            <p class="product-quantity">Cantidad: {{this.quantity}}</p>
        </div>
        {{/each}}
    </div>
</div>
